@media (min-width: 992px) { 
    .alto-100 {
        height: 100vh; 
    }
}

@media (min-width: 1200px) { 
    .vh-total{
        height: 100vh;
    }
}

body{
    background-color: rgb(26, 25, 27);
}

img{
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
}


.fondo-card-1{
    background-color: rgb(11 146 51 / .5);
}

.fondo-card-2{
    background-color: rgb(33 115 200 / .5);
} 

.fondo-card-3{
    background-color: rgba(238, 255, 6, .4);
} 

.fondo-card-4{
    background-color: rgba(158, 50, 50, 0.4);
} 

.fondo-card-5{
    background-color: rgba(66, 66, 63, 0.4);
} 



.fondo-contenedor{
    background-color: rgb(22 22 17 / .4);
    position: relative;
    height: 100%;
}

.container{
    position: relative;
}

.imagen-fondo{
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

