@media (min-width: 992px) { 
    .alto-100 {
        height: 100vh; 
    }
}

img{
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
}

.fondo-card-1{
    background-color: rgb(11 146 51 / .5);
}

.fondo-contenedor{
    background-color: rgb(22, 22, 17);
}